<h1>Create A New Poll</h1>
<p>What's the name of your poll?
    <%= form_for(@poll) do |f| %>
    <% if @poll.errors.any? %>
       <div id="error_explanation">
         <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this link from being saved:</h2>

         <ul>
         <% @poll.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
         </ul>
       </div>
     <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</p>
